@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.button {
  align-items: center;
  background: $buttonBackground;
  border-radius: 7px;
  color: $primaryTextColor;
  cursor: pointer;
  display: flex;
  font-size: 0.9em;
  justify-content: center;
  margin: 20px auto;
  padding: 20px 0;
  text-align: center;
  transition: 0.3s all;
  user-select: none;
  width: 150px;

  &:hover {
    background: $buttonBackgroundHover;
    transform: scale(1.1);
  }
}

.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.8;
}
