@import '../../../styles/colors.scss';
@import '../../../styles/sizing.scss';

.header {
  background: $gray-85;
  border-bottom: 1px solid $gray-95;
  margin-bottom: 30px;
  position: relative;

  .headerContent {
    display: flex;
    padding: 5px 20px;

    .homeLink {
      flex: 1;
      margin-right: 20px;

      hr {
        display: inline-block;
        width: 15px;
      }
    }

    .appVersion {
      font-size: 10px;
      position: absolute;
      right: 5px;
      top: 1px;
    }
  }

  .headerTitle {
    cursor: pointer;
    display: inline-block;
    font-family: 'Chilanka', sans-serif;
    font-size: 2em;
    margin: -20px 20px 10px;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    transition: 0.5s all;
  }

  .logo {
    width: 70px;
    pointer-events: none;
    position: relative;
    left: 5px;
    top: 10px;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
  }
}

@media screen and (max-width: $mobileWidth) {
  .header {
    .headerTitle {
      display: none;
    }

    .logo {
      top: 2px;
    }
  }
}
