@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/sizing.scss';

.home {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 5px;

  h1 {
    font-family: $mainFontStyle;
    font-size: 5em;
    margin: 50px auto;
    text-align: center;
    transition: 0.2s all;
  }

  .logo {
    margin: 5px;
    text-align: center;

    svg {
      transition: 0.2s fill;
      width: 275px;
    }
  }

  .buttonContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px 0;

    .button {
      align-items: center;
      border-radius: 7px;
      display: flex;
      font-size: 2em;
      justify-content: center;
      margin: 0 15px;
      padding: 40px 0;
      text-align: center;
      width: 250px;

      &.settings {
        background: $gray-80;
        font-size: 1.5em;
        height: 50px;
        padding: 0;
        width: 115px;
      }
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .home {
    h1 {
      font-size: 15vw;
      margin: 20px auto;
    }

    .logo {
      img {
        max-width: 250px;
      }
    }

    .buttonContainer {
      flex-direction: column;
      margin: 20px auto;

      .button {
        margin: 10px auto;
        padding: 20px 0;
      }
    }
  }
}
