@import '../../../styles/mixins.scss';

.textInputContainer {
  .textInput {
    @include defaultInput();
  
    font-size: 1.5em;
    text-align: center;
  }
  
  .inputError {
    @include errorText();
  
    transition: all 0.5s ease;
  }
}
