@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/sizing.scss';

.scoreboard {
  align-content: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;

  .playerName {
    font-family: 'Roboto Mono';
    font-size: 2em;
    position: relative;
    top: -40px;
    user-select: none;
  }

  .playerScore {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    &.player1Score {
      border-right: 1px solid white;
    }

    &.player2Score {
      border-left: 1px solid white;
    }

    .incrementScore,
    .decrementScore {
      border: 1px solid transparent;
      cursor: default;
      font-size: 2em;
      text-align: end;
      width: 50%;

      .arrow {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        user-select: none;
        width: 50px;
      }
    }

    .incrementScore {
      &:hover {
        border-bottom: 1px solid white;
      }

      .arrow {
        transform: rotate(270deg);
      }
    }

    .decrementScore {
      &:hover {
        border-top: 1px solid white;
      }

      .arrow {
        transform: rotate(90deg);
      }
    }

    .score {
      align-items: center;
      font-family: 'Roboto Mono';
      font-size: 25em;
      display: flex;
      justify-content: center;
      text-align: center;
      user-select: none;
      width: 95%;
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .scoreboard {
    .playerScore {
      .score {
        font-size: 30vw;
        height: 200px;
      }
    }
  }
}
