@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/sizing.scss';

.newGame {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 5px;

  h1 {
    color: $paddle-red;
    font-family: $mainFontStyle;
    font-size: 3em;
    margin: 20px auto;
    text-align: left;
    width: 90%;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    min-width: 850px;

    .gameTypeButton {
      font-size: 2.5em;
      height: 350px;
      opacity: 0.8;
      padding: 20px 0;

      &.selected {
        background: $secondaryColorLight;
        border: 2px solid $paddle-ball;
        opacity: 1;
        transform: scale(1.1);
      }

      &:hover:not(.selected) {
        background: $secondaryColorLight;
        border-color: $secondaryColor;
        opacity: 1;
      }

      .buttonText {
        font-style: italic;
      }
    }
  }

  .playersContainer {
    display: flex;

    > div {
      margin: 50px auto;
    }

    .playerInput {
      font-size: 2em;
    }
  }

  .button {
    align-items: center;
    background: $secondaryColor;
    border-color: $secondaryColorLight;
    border-radius: 7px;
    color: $primaryTextColor;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
    width: 250px;

    &:hover {
      background: $secondaryColorLight;
      border-color: $secondaryColor;
    }

    .buttonText {
      font-style: italic;
    }

    &.startButton {
      background: $success-green-9;
      margin-top: 100px;

      &:hover {
        background: $success-green;
      }
    }
  }
}
