@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/sizing.scss';

.newGame {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 5px;

  .buttonContainer {
    display: flex;
    flex-direction: row;
    min-width: 850px;

    .gameTypeButton {
      font-size: 2.5em;
      height: 350px;
      opacity: 0.8;

      &.selected {
        background: $secondaryColorLight;
        border: 2px solid $paddle-ball;
        opacity: 1;
        transform: scale(1.1);
      }

      &:hover:not(.selected) {
        background: $secondaryColorLight;
        border-color: $secondaryColor;
        opacity: 1;
      }

      .buttonText {
        font-style: italic;
      }
    }
  }

  .playersContainer {
    display: flex;

    .playerName {
      font-size: 2em;
      margin: 50px auto;
      width: 250px;
    }
  }

  .button {
    font-size: 1.5em;
    width: 250px;

    &:hover {
      background: $secondaryColorLight;
      border-color: $secondaryColor;
    }

    .buttonText {
      font-style: italic;
    }

    &.startButton {
      background: $success-green-9;
      margin-top: 100px;

      &:hover {
        background: $success-green;
      }
    }
  }
}

@media screen and (max-width: $mediumScreenWidth) {
  .newGame {
    .buttonContainer {
      justify-content: center;
      min-width: 0;

      .gameTypeButton {
        font-size: 1em;
        height: 150px;
        margin: 5px;
        width: 200px;
      }
    }

    .playersContainer {
      flex-direction: column;
      margin: 10px auto;

      > div {
        margin: 10px auto;
      }
  
      .playerInput {
        font-size: 1.5em;
      }
    }
  }
}
